@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #eaecef;
}

header {

  padding: 30px;
  background-color: #011627;
  height: 50px;
}

.sidenav {

  width: 240px;
  background: #011627;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;

}

.sidenav.active {

  left: 0;
  transition: all 1s;

}

.logo {
  width: 50px;
  border-radius: 30px;
}

ul {
  padding: 0;
}

ul li{

  list-style-type: none;
  margin: 10px 0;

}

ul li a{

  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  display: block;
}

ul li a:hover,
ul li a.active{

    background: #172b4d;

}

header svg{
  font-size: 40px;
}

.main {

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color : #000000;
}

