.header{
   
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color : grey;
}
.unb{
    margin-right: 200px;
}
.UnB{
    height: 40px;
    margin-right: 20px;
}