.Footer{

    margin-bottom: 0;
    position: relative;
    bottom: fixed;
    background-color:  #011627;
    color: white;
    display: flex;
    flex: 1;
    font-size: 5vw;
    width: 100%;
    flex-direction: column;
    min-height: 20vh;
        
}




.Abaixo{

    
    text-align: center;
    
}


.logobrasilia{

    width: 50px;
    margin-top: 3%;
    border-radius: 50%;
}

.logomg{

    width: 50px;
    height: 50px;
    border-radius: 10%;
    cursor: pointer;
}