.Footer{

    margin-bottom: 0;
    position: relative;
    bottom: fixed;
    background-color:  #011627;
    color: white;
    display: flex;
    flex: 1;
    font-size: 5vw;
    width: 100%;
    flex-direction: column;
    min-height: 20vh;
        
}

Footer.p{
    
    
}

.Acima{

    display: flex;
    padding: 1vh;
    justify-content: space-around;
    align-items: auto;
    padding: 0rem 0rem;
}
.Abaixo{

    
    text-align: center;
    font-size: 2vh;
    align-items: start;
    
}


 
.MainFooter{
   
    /* margin-bottom: 0;
    position: relative;
    bottom: 0;
    background-color:  #011627;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 10px;
    padding: 3em;
    min-width: 90vh;
    min-height: 150px; */

} 

.logobrasilia{

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logomg{

    width: 50px;
    height: 50px;
    border-radius: 10%;
}