.Footer{

    margin-bottom: 0;
    background-color:  #011627;
    color: white;
    display: flex;
    font-size: 5vw;
    width: 100%;
    flex-direction: column;
    min-height: 20vh;
    justify-content: center;
    flex: 1;
}

.Acima{

    display: flex;
    padding-top: 5vh;
    justify-content: space-around;
    align-items: auto;
    padding: 1.5vh 0vh;
}
.Abaixo{

    min-height: 5vh; 
    font-size: 1.7vh;
    display: flex;  
    justify-content: center;  
}



.logobrasilia{

        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        margin: auto;
        display: block;
    
}

.logomg{

    width: 7vh;
    height: 7vh;
    border-radius: 20%;
    margin: auto;
    display: block;

}
.logogit{
    
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        background-color: white;
        margin: auto;
        display: block;
    
}

.gitsymbol{
    
    width: 1vh;
    height: 1vh;
}

.col{

    height: 7vh;

}

a:hover{

    transform:scale(1.1);
}

a img:hover{

    transform:scale(1.1);
}

@media screen and (max-width: 768px) {

    .Abaixo{

        min-height: 5vh; 
        font-size: 1.5vh;
        display: flex;  
        justify-content: center;  
    } 
    
  }