.Footer{

    margin-bottom: 0;
    position: relative;
    bottom: fixed;
    background-color:  #011627;
    color: white;
    display: flex;
    flex: 1;
    font-size: 5vw;
    width: 100%;
    flex-direction: column;
    min-height: 20vh;
        
}

.Acima{

    display: flex;
    padding: 1vh;
    justify-content: space-around;
    align-items: auto;
    padding: 1.5rem 0rem;
}
.Abaixo{

    
    text-align: center;
    font-size: 2vh;
    align-items: start;
    padding: 0.1vh;
    
}


 
.MainFooter{
   
    /* margin-bottom: 0;
    position: relative;
    bottom: 0;
    background-color:  #011627;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 10px;
    padding: 3em;
    min-width: 90vh;
    min-height: 150px; */

} 

.logobrasilia{

    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    margin: auto;
    display: block;
    
}

.logomg{

    width: 7vh;
    height: 7vh;
    border-radius: 20%;
    margin: auto;
    display: block;

}
.logogit{
    
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
        background-color: white;
        margin: auto;
        display: block;
    
}

.gitsymbol{
    
        width: 1vh;
        height: 1vh;
}

.col{

    height: 7vh;
    

}