.headercredito{
   
    height: 80px;
    display: flex;

    align-items: center;
    background-color : grey;
}
.unb{
    font-size:xx-large;
    width: auto;
    margin-left: 510px;
}
.UnB{
    height: 60px;
    margin-left: 160px;
}