.line-1 {
  margin-top: -20hv;
  height: 1hv;
  background: black;
  
}
.TituloHome{
  font-size: 3.2vw;
  padding-bottom: 2vh;  
}
.corpoHome{
  
  font-size:1.8vw;
  text-align: center;
}
.minasGerais{
  margin-left: 0vh;
  height: 35vh;
}

/* @media screen and (max-width: 1200px) {

  .TituloHome{
    font-size: 6vw;
    
  }
  
  .corpoHome{
  
    font-size:4.5vw;
    text-align: center;
  }

} */