.line-1 {
  margin-top: -20px;
  height: 1px;
  background: black;
}
.TituloHome{
  font-size: 45px;
}
.corpoHome{
  
  font-size: 20px;
  text-align: center;
}
.minasGerais{
  margin-left: -50px;
  height: 400px;
}