
.tituloSobre{
    font-size: 30px;
    text-align: center;
    margin-top: 2vh;
}
.line-1SA {
    width: 220px;
    margin-top: -20px;
    height: 1px;
    background: black;
}
.line-1SB {
    width: 130px;
    margin-top: -20px;
    height: 1px;
    background: black;
}
.line-1SC {
    width: 370px;
    margin-top: -20px;
    height: 1px;
    background: black;
}
.pSobre{
    text-align: justify;
    text-justify: inter-word;
    margin: 2vh 10vw;
}
.tabelasS{
    margin-left: 0px;
    display: flex;
    justify-content: center;
}

.pagesobre{
    display: flex;
    justify-content: center;
    font-size: 50rem;
    text-align: center;
}

.hr{
    margin: 0px 10vw;
}