.pageSobre{
    margin-left: 60px;
    margin-right: 180px;
    height: 80vh;
    flex: 2;
}
.tituloSobre{
    margin-left: 60px;
    font-size: 30px;
}
.line-1SA {
    margin-left: 50px;
    width: 220px;
    margin-top: -20px;
    height: 1px;
    background: black;
}
.line-1SB {
    margin-left: 50px;
    width: 130px;
    margin-top: -20px;
    height: 1px;
    background: black;
}
.line-1SC {
    margin-left: 50px;
    width: 370px;
    margin-top: -20px;
    height: 1px;
    background: black;
}
.pSobre{
    margin-left: 60px;
    text-align: justify;
    text-justify: inter-word;
}
.tabelasS{
    margin-left: 60px;
    display: flex;
    justify-content: center;
}