@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 90vh;
  font-family: 'Roboto', sans-serif;
  color: #eaecef;
  
}

body, html {
  overflow-x: hidden !important;
  }
  @media (max-width: 786px){
    body, html {
    overflow-x: hidden!important;
    }
  
  }

header {

  padding: 30px;
  background-color: #011627;
  height: 20px;
  width: 100%;
  
}

.sidenav {

  width: 180px;
  background: #011627;
  position: absolute;
  height: 37vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;
  border-radius: 30px;
  z-index: 10;

}

.sidenav.active {

  left: 7px;
  margin-top: 7px;
  transition: all 1s;

}

.logo {
  width: 50px;
  border-radius: 30px;
}

ul {
  padding: 0;
}

ul li{

  list-style-type: none;
  margin: 10px 0;

}

ul li a{

  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  display: block;
}

ul li a:hover,
ul li a.active{

    background: #172b4d;

}

header svg{
  font-size: 35px;
  padding: 5px;
  border-radius: 6px;
  margin-top: -12px;
}

header svg:hover{
  background: #172b4d;

}

.main {

  min-height: calc(83vh + 80px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 35px;
  padding-top: 0;
  color: #000000;
    
}

